/ YOUR GROUP FEED group item
/ normally situated in the right column on front page
/ and
/ on a user's profile page

%div.row-fluid
  / %div.image.span3
  /   =link_to image_tag(feed_item.assets.empty?  ? '/assets/small.png': feed_item.assets.first.image.url(:small), :alt => feed_item.name), group_url(feed_item)
  %div.span10
    %div.row-fluid
      %span.feed-title
        = link_to group.name, group_url(group)