
*.rbc
*.sassc
.sass-cache
capybara-*.html
/db/*.sqlite3
.rspec
/.bundle
/vendor/bundle
/log/*
/log/*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Ignore application configuration
/config/application.yml
/config/env.yml

.DS_Store
