/ .btn-group
/   %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
/     Action
/     %span.caret
/   %ul.dropdown-menu{role: "menu"}
/     %li
/       %a{href: "#"} Action
/     %li
/       %a{href: "#"} Another action
/     %li
/       %a{href: "#"} Something else here
/     %li.divider
/     %li
/       %a{href: "#"} Separated link
.btn-group.shop-by-category
  %button#shop_by_category_button.btn.btn-default.btn-large.dropdown-toggle{"data-toggle" => "dropdown", href: "#", type: "button"}
    Shop By Category
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    -@browse_by_array.each do |category|
      -if category.is_a?(Tag)
        %li
          %a{href: category ? tag_url(category) : "#"} #{category.name.titleize}
      -elsif category.is_a?(PostCategory)
        %li
          %a{href: category ? post_category_url(category) : "#"} #{category.name.titleize}
      
    / %li
    /   %a{href: @appliances ? tag_url(@appliances) : "#"} Appliances
    / %li
    /   %a{href: @books ? tag_url(@books) : "#"} Books
    / %li
    /   %a{href: @clothing ? tag_url(@clothing) : "#"} Clothing
    / %li
    /   %a{href: @electronics ? tag_url(@electronics) : "#"} Electronics
    / %li
    /   %a{href: @furniture ? tag_url(@furniture) : "#"} Furniture
    / %li
    /   %a{href: @sports ? tag_url(@sports) : "#"} Sporting Goods
    