=search_form_for @q, :url => { :controller => "search", :action => "index"}, :html => { :class => "form-inline"} do |f|
  =f.text_field :name_cont, :class => "search-bar-field", :placeholder => "search for stuff or groups...type it here"
  =f.submit 'Search', :class => "btn btn-primary"