%div.row-fluid
  =render :partial => "search_form"
%div.row-fluid
  %div.span6
    %h1 Stuff:
    %p search returned #{pluralize(@posts_results.count, 'post')}
    /Post feed
    =render :partial => 'shared/feed',:locals => {:feed_items => @posts_results}
    
  %div.span6
    %h1 Tags
    -@tag_results.each do |tag|
      =link_to tag.name, tag_url(tag), :class => "tag"
    =link_to "More tags...", tags_path
    %h1 Groups:
    %p search returned #{pluralize(@group_count, 'group')}
    =render @groups
