%p You bought: ( #{@post.title} )

%p The Seller #{@buyer.name ? ","+ @buyer.name : ""} should be contacting you shortly, but here is their email just in case:
%a{ :href => "mailto:#{@seller.email}"} #{@seller.email}
