%div.row.group-feed-item
  %div.image.col-lg-2
    =link_to image_tag(group.assets.empty?  ? '/assets/small.png': group.assets.first.image.url(:small), :alt => group.name), group_url(group)
  .feed_item
    .col-lg-7
      = link_to group.name, group_url(group), class: "feed-title"
      .description
        = truncate(group.description, 10)
    .col-lg-2
      = render "shared/simple_join", :group => group