=form_tag "/invites",  :method => :post do
  =hidden_field_tag :from, current_user.id
  =hidden_field_tag :group_id, group.id
  %div.row-fluid
    / =label_tag "paste emails here, even straight out of mail"
    =text_area_tag :content, params[:content], :class => "input-block-level", :placeholder => "Paste emails here", :rows => "10"
  =submit_tag "invite users"