.container
  %div.row
    %div.col-lg-3.group-categories
      %h3 Categories
      
      
      /////// FOR LATER IMPLEMENTATION::::
      /////// SEARCH BY ZIP CODE/REGION
      / =form_for '/groups/nearby', :url => nearby_groups_path do |f|
      /   /=f.hidden_field :zipcode, id: "zipcode", value: "93105"
      /   =f.label "Zipcode"
      /   =f.text_field :zipcode
      /   =f.submit "Search"
      
      / =form_tag(groups_path, method: :get) do
      /   .input-group
      /     =text_field_tag :zipcode, nil,:class => "form-control", :placeholder =>"Search by Zipcode", type: "text"
      /     %span.input-group-btn
      /       =button_tag "Go", name: nil, :class => "btn btn-default btn-lg", :type => "button"
             
      .page-element-background
        %ul
          -@g_categories.each do |gcat|
            %li.chevron_right
              =link_to gcat.name, group_category_path(gcat), :class => "chevron_right"
        -if current_user
          =link_to "Create a group", new_group_path, :class => "btn btn-default group-button", :role => "button", :id => "front_page_new_group"
        -else
          =link_to "Create a group", new_user_registration_path, :class => "btn btn-default group-button", :role => "button", :id => "front_page_new_group"
    %div.col-lg-9
      %div.row
        .col-xs-3
          %h3 Groups
        .col-xs-9
          = form_tag('groups', :remote => true, html: { class: "group-sort"}) do
            = select_tag :sort, options_for_select(Group.translated_searchable_columns, params[:sort]),  {:prompt => 'Sort By:', :class => "group-sort"}
            /= select_tag "name", options_from_collection_for_select(@group_attributes, "name", nil),  { :include_blank => true , :class => "group_select"}


          / %div.col-lg-9
          /   %ul.nav-tabs
          /     %li 
          /Sort by: closest, newest, oldest, most popular
          / %ul.breadcrumb
          /   %li
          /     =link_to "All", groups_path
          /   %li
          /     =link_to @group_category, group_category_path(@group_category)
      %div.row
        .page-element-background
          %div#groups_list
            .col-lg-12
              =render @groups, :as => "group_feed_item"
  / %table
  /   %tr
  /     %th Name
  /     %th Description
  /     %th Group category
  /     %th
  /     %th
  /     %th
  /     %th # of members
  / 
  /   - @groups.each do |group|
  /     %tr
  /       %td= group.name
  /       %td= group.description
  /       %td= group.group_category
  /       %td= link_to 'Show', group
  /       %td= link_to 'Edit', edit_group_path(group)
  /       %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
  /       %td #{group.members.count} 
  %br

  = link_to 'New Group', new_group_path



  /Categories side bar
  /Content area
  //tab nav bar: alphabetical, newest, most popular
  //groups: image, name, description, join button


/ -if current_user && current_user.admin?
/   = form_tag bulk_update_groups_path do
/     %table
/       
/       %th Group
/       %th 1
/       %th 2
/       %th 3
/       %th 4
/       %th 5
/       %th 6
/       - @groups.each do |g|
/         %tr
/           %td =g.name
/           -@group_categories.each do |gc|
/             %td= check_box_tag "group_category_id[]", gc.id
/ 
/     = button_tag "Update Groups"
