%div.row
  %div.span3
    %h3 Categories
    /put region search bar here
    =form_for :nearby, :remote => true, :url => nearby_groups_path do |f|
      /=f.hidden_field :zipcode, id: "zipcode", value: "93105"
      =f.label "Zipcode"
      =f.text_field :zipcode
      =f.submit "Search"
    %ul.nav
      -@g_categories.each do |gcat|
        =link_to gcat.name, group_category_path(gcat), :class => "span2 chevron_right"
  %div.span9
    %h3 Groups
    / %div.span9
    /   %ul.nav-tabs
    /     %li 
    /Sort by: closest, newest, oldest, most popular
    / %ul.breadcrumb
    /   %li
    /     =link_to "All", groups_path
    /   %li
    /     =link_to @group_category, group_category_path(@group_category)
    %p search returned #{pluralize(@group_count, 'group')}
    =render @groups, :as => "group_feed_item"
/ %table
/   %tr
/     %th Name
/     %th Description
/     %th Group category
/     %th
/     %th
/     %th
/     %th # of members
/ 
/   - @groups.each do |group|
/     %tr
/       %td= group.name
/       %td= group.description
/       %td= group.group_category
/       %td= link_to 'Show', group
/       %td= link_to 'Edit', edit_group_path(group)
/       %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
/       %td #{group.members.count} 
%br

= link_to 'New Group', new_group_path



/Categories side bar
/Content area
//tab nav bar: alphabetical, newest, most popular
//groups: image, name, description, join button