= simple_form_for(@user, :validate => true) do |f|
  =f.label :email
  =f.text_field :email
  =f.label :password
  =f.text_field :password
  .actions
    = f.submit 'Sign Up'

=link_to "Sign In",signin_path