%h1 Sign Up
=link_to "Sign In", signin_path
= simple_form_for @user,  html: {class: 'form-horizontal'} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
          
  %div.row-fluid.control-group
    =f.label :email, :class => 'control-label'
    =f.text_field :email, :validate => true
  %div.row-fluid.control-group
    =f.label :password, :class => 'control-label'
    =f.text_field :password, :validate => true
  %div.form-actions
    =f.submit "Sign Up", class: "btn-primary"
    /= f.button :submit, name: 'Sign Up', class: "btn-primary"
