

=link_to "Sign In","#", :class => "sign-in-link"
=link_to "Sign Up", "#", :class => "sign-up-link", :style => "display:none;"
%div.row-fluid.sign-up
  = simple_form_for @user,  html: {class: 'form-horizontal form'} do |f|
    -if params[:group_id]
      =hidden_field_tag('group[member_ids][]', @user.id)
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
        

    %div.span4
      %h1 Sign Up
      %div#name_field.control-group
        =f.label :name, :class => 'control-label'
        %div.controls
          =f.text_field :name, :class => "input-block-level inline", :placeholder => "Thomas More"        
      %div.control-group
        =f.label :email, :class => 'control-label'
        %div.controls
          =f.text_field :email, :class => "input-block-level inline", :placeholder => "hello@mom.com"  
      %div.control-group
        =f.label :password, :class => 'control-label'
        %div.controls
          =f.password_field :password, :class => "input-block-level inline", :placeholder => "Password"  
      %div.control-group
        %div.controls
          =f.submit "Sign Up", class: "btn btn-primary submit-button"
        /= f.button :submit, name: 'Sign Up', class: "btn-primary"
%div.row-fluid.sign-in{:style => "display:none;"}
  %div.span4
    %h1 Sign in

    =form_for(:session, :url => sessions_path, :class => "form") do |f|
      /=render "shared/error_messages", :target => @user

      =f.text_field :email, :class => "input-block-level", :placeholder => "Email", :validate => { :presence => true } 

      =f.password_field :password, :class => "input-block-level", :placeholder => "Password"

      .action=f.submit "Sign in", :class => "submit-button"
