<h1>All Super Seller Jobs available for pickup</h1>


<table class="table table-hover">
  <tr>
    <thead>
      <th>Owner</th>
      <th>Estimated Value</th>
      <th>Pickup Location</th>
      <th></th>
    </thead>
  </tr>
  <tr>
    <td>Kenji</td>
    <td>$100</td>
    <td>Room 205</td>
    <td></td>
  </tr>

</table>