.container
  %div.search-row
    %div.col-lg-5
      /new post button
      .category-post-cluster
        =link_to "Post Something", new_post_path, :id => "btn_post_flat", :role => "button"

        =render :partial => "search/category_dropdown"

    %div.col-lg-7
      /search bar
      =render :partial => "search/search_form"