%ol
  -if feed_items.first.is_a?(Post)
    =render :partial => 'post_feed_item', :collection => feed_items, :as => :feed_item
  -else
    =render :partial => 'group_feed_item', :collection => feed_items, :as => :feed_item
=will_paginate feed_items
