.modal-header
  %h2 Sign up or Sign in
.modal-body
  %div.span4
    %h1 Sign Up
    = simple_form_for(@user, :validate => true) do |f|
      =f.label :email
      =f.text_field :email
      =f.label :password
      =f.text_field :password
      .actions
        = f.submit 'Sign Up'
  / %div.span4
  /   %h1 Sign in
  / 
  /   =simple_form_for(:session, :url => sessions_path, :class => "form") do |f|
  /     /=render "shared/error_messages", :target => @user
  / 
  /     =f.text_field :email, :class => "input-block-level", :placeholder => "Email", :validate => { :presence => true } 
  / 
  /     =f.password_field :password, :class => "input-block-level", :placeholder => "Password"
  / 
  /     .action=f.submit "Sign in"

