%ul.nav.nav-pills
  %li=link_to "Home", root_path
  %li=link_to "About", about_path
  %li=link_to "New Post", new_post_path
  %li=link_to "Groups", groups_path
  -if signed_in?
    %li=link_to "Sign out", signin_path    
  -else
    %li=link_to "Sign In", signout_path