%li.feed_item.row-fluid
  %div.image.span3
    =link_to image_tag(feed_item.assets.empty?  ? '/assets/small.png': feed_item.assets.first.image.url(:small), :alt => feed_item.title), post_url(feed_item)
  %div.span6
    %div.row-fluid
      /price
      /make price a variable that can be passed into the modal partials below so
      /that on credit card charge, we know how much to charge
      %span.feed-title
        = link_to feed_item.title, post_url(feed_item)
    %div.row-fluid
      %span.description
        = truncate(feed_item.description, 25)
    %div.row-fluid
      -feed_item.tags.each do |tag|
        =link_to tag.name, tag_url(tag), :class => "tag"
    %div.row-fluid.timestamp
      Posted #{time_ago_in_words(feed_item.created_at)} ago.
  %div.span3
    /buy button:
    /IF: signed_in and no c#, THEN: user_credit_modal
    /IF: signed_in and yes c# THEN: user_you_sure_modal
    /IF: not signed_in THEN: non_user_credit_modal
    %a.btn.buy-button{"data-toggle" => "modal", :href => "#buy_modal", :role => "button"} Buy
    %div#buy_modal.modal{:role => "dialog",:style=>"display:none"}
      -if signed_in? && current_user.stripe_customer_id.nil? == false
        =render 'user_you_sure_modal'
      -elsif signed_in? && current_user.stripe_customer_id.nil?
        =render 'user_credit_modal'
      -else
        =render :partial => 'transactions/form'
    
    / =link_to "Buy", new_transaction_path(:post_id => feed_item.id, :tier_id => feed_item.tier_id, :price => feed_item.price, :premium => feed_item.premium?, :notify_premium => nil)
    
    / -if signed_in? && current_user.stripe_customer_id.nil? == false
    /   %div.buy_modal.modal{:role => "dialog",:style=>"display:none"}
    /     =render 'user_you_sure_modal'
    / -elsif signed_in? && current_user.stripe_customer_id.nil?
    /   =render 'user_credit_modal'
    / -else
    /   =render 'non_user_credit_modal'






/ - if current_user?(feed_item.user)
/   = link_to "delete", feed_item, method:  :delete, confirm: "You sure?",title:   feed_item.content