
%div.row-fluid
  -unless feed_items.nil?
    -feed_items.each do |feed_item|
      %div{:id=>"group_#{feed_item.id}"}
        %div.feed_item
          %div.span10
            %div.row-fluid
              %span.feed-title
                = link_to feed_item.name, group_url(feed_item)
            / %div.row-fluid
            /   %span.description
            /     = truncate(feed_item.description, 10)
          %div.span2
            -if feed_item.private?
              -if !current_user
                
                /= render "groups/join_form", :group => feed_item
              -else
                -unless current_user.groups_as_member.include?(feed_item)
                  =link_to "Join", group_url(feed_item), class: "btn btn-mini"
            -else
              -unless current_user.groups_as_member.include?(feed_item)
                = render "groups/join_form", :group => feed_item