
%div.about-landing-page{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#navbar-main"}
  / ========== HEADERWRAP ==========
  -unless current_user
    %section#home.scrollspy{name: "home"}
    #headerwrap
      .container
        .col-lg-8
          %h1 A marketplace for your school
          %p.hidden-xs buy and sell stuff with people you know. Textbooks are guaranteed to sell. Be part of the magic.
        .col-lg-4
          // SIGN UP FORM GOES HERE
          .landing-signup
          = render "shared/sign_up"
  / ========== WELCOME TEXT ==========
  / .container
  /   .row
  /     %br/
  /     .col-lg-8
  /       %h2 CREATE THE BEST PRESENTATION PAGE FOR YOUR APP. A NEW EXPERIENCE FOR YOUR USERS.
  /     .col-lg-4

  / ========== FEATURES SECTION ==========
  .container.features
    .row
      .col-lg-3
        =link_to textbooks_url class: "no-black" do
          =image_tag 'books.png', id: "books_icon"
          %h4.bold ALL TEXTBOOKS GUARANTEED TO SELL
      .col-lg-3
        =image_tag 'furniture.png', id: "furniture_icon"
        %h4.bold FIND RAD DORM FURNITURE  
      .col-lg-3
        =image_tag 'trust.png', id: "trust_icon"
        %h4.bold DEAL WITH PEOPLE YOU KNOW AND TRUST
      .col-lg-3
        =image_tag 'dollar.png', id: "dollar_icon"
        %h4.bold BUY STUFF HERE AND SAVE MONEY

  / ========== SECTION DIVIDER 01 ==========
  #section01
    .container
      / .row
      /   .col-lg-6.col-lg-offset-3
      /     %h2.centered Satisfied Users and Phil
      /     %br/
      /     %br/
      / .row
      /   .col-lg-4
      /     .circle-image.center.rebecca
      /     / =image_tag 'head-shot.jpg'
      /     %h4 REBECCA HU '15
      /     %p I've sold a ton of the stuff that was sitting around my room not being used
      /   .col-lg-4
      /     .circle-image.center.gabe
      /     / =image_tag 'head-shot.jpg'
      /     %h4 GABE STAUBER '15
      /     %p I put all my textbooks on here, made bank, and P&S even came and picked them up. Radical.  
      /   / .col-lg-4
      /   /   .circle-image.center.hanlon
      /   /   %h4 Phil Hanlon '77
      /   /   %p P&S Rocks
      .row  
        .col-lg-6.col-lg-offset-3
          %h2.centered Make Money and Get Rid of Stuff Without Lifting a Finger
          %br/
          %br/
      .row
        .col-lg-4
          /.circle-image.center.rebecca
          / =image_tag 'head-shot.jpg'
          %h4 CONTACT OUR SUPER SELLER ABOUT YOUR STUFF
          %p.hero-subtext Email one of our authorized sellers on campus that you have some stuff you want to sell
        .col-lg-4
          /.circle-image.center.gabe
          / =image_tag 'head-shot.jpg'
          %h4 PUT THE STUFF SOMEWHERE THEY CAN GET IT
          %p.hero-subtext Box up everything you want to get rid of and put it near your door so they can pick it up
        .col-lg-4
          /.circle-image.center.hanlon
          %h4 DO NOTHING AND GET PAID
          %p.hero-subtext Our SuperSeller will do all the work of posting the items and dealing with buyers picking stuff up. All you have to do is sit back and watch the proceeds roll in. You get 80%


  / container
  / ========== SECTION DIVIDER 02 ==========
  #section02
    .container
      %h1
  %section#faq.scrollspy{name: "faq"}
  #faqsection
    .container
      .row
        %br/
        %br/
        .col-lg-6.col-lg-offset-3
          %h2.centered FEATURES
          %hr/
          %br/
          %br/
        / col-lg-6
        .col-lg-6{style: "text-align: left"}
          /%img.img-responsive{src: "assets/img/animation.gif"}/
          =image_tag "laptop1.png", class: "img-responsive"

        .col-lg-6.faq
          #accordion2.accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
                  %span.glyphicon.glyphicon-envelope
                  Post things and notify people
              #collapseOne.accordion-body.collapse.in
                .accordion-inner
                  %p When you post your stuff you can send targeted email notifications to groups of people that care about your particular post

            %br/
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo"}
                  %span.glyphicon.glyphicon-transfer
                  Join groups and send them targeted notifications
              #collapseTwo.accordion-body.collapse
                .accordion-inner
                  %p Basically a glorified listserv, but allows you to notify more groups at once and view posts within Dartmouth, segmented by group

            %br/
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseThree"}
                  %span.glyphicon.glyphicon-tags
                  
                  Follow tags and get notified
              #collapseThree.accordion-body.collapse
                .accordion-inner
                  %p Searching for housing options and don't want to keep checking for new listings? Follow the housing tag and get alerts when new posts are made or weekly digests.

            %br/
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseFour"}
                  %span.glyphicon.glyphicon-book
                  Textbooks are guaranteed to sell
              #collapseFour.accordion-body.collapse
                .accordion-inner
                  %p We partner with Belltower books so that whatever books you post on here are guaranteed to sell. We'll come to you and take them off your hands. #{link_to "Post some!", new_post_path, class: "linkify"}

            %br/

    %br/
    %br/
 
  %section#register.scrollspy{name: "register"}
  #registerwrap
    .container
      .row
        .col-lg-8.col-lg-offset-2
          %h1 Click here to see inside the marketplace

      .row
        .col-lg-offset-3.col-lg-9
          .form-group
            .col-lg-8.centered
              %br/
              =link_to "Take a Peek Inside!", root_url, class: "btn-lg btn-theme"
        / col-lg-9
      / row
      %br/
      %br/
    / Container
  / registerwrap
  #footerwrap
    .container
      .row
        .col-lg-4.centered

        .col-lg-4.centered
          %h3 Central Command
          %br/
          %p
            %br/
            Palo Alto, CA
            %br/
            Tel.: 805 2597624
            %br/
            brianjoseff123@gmail.com
        .col-lg-4.centered
          %h3 Jobs
          %p We're Hiring
          =link_to 'Check out open positions', jobs_path
  /
    Bootstrap core JavaScript
    \==================================================
  / Placed at the end of the document so the pages load faster
  %script{src: "assets/js/jquery.min.js", type: "text/javascript"}
  %script{src: "assets/js/bootstrap.min.js", type: "text/javascript"}
  %script{src: "assets/js/appshowcase.js", type: "text/javascript"}
  %script{src: "assets/js/smoothscroll.js", type: "text/javascript"}
  %script{src: "assets/js/jquery-func.js", type: "text/javascript"}
  %script{src: "assets/js/retina.js", type: "text/javascript"}
  :javascript
    $(function() {
    	AppShowcase.init();
    });