%h1 About
%h4 A whiny missive:
%p To buy and sell things on Ebay,
%p Is no way to spend your whole day.
%p It takes so much time,
%p They nickel and dime,
%p I'd rather get mauled by a Blue Jay
%br
%h4 A cautionary tale:
%p I bought a new couch on Craigslist
%p For my roommate to have his tryst
%p At the seller's abode
%p things began to implode
%p When he chopped off my arm at the wrist
