%div.container
  %div.row
    %div.span6
      %h1 People and Stuff
  
  %div.row
    %div.span12
      %ul 
        %li post things for sale, or make postings to ask for things
        %li when posting, you can send targeted notifications to certain groups, or make your post visible only to select groups. Default visibility is global
        %li Money Talks: posts are for in-person cash transactions, or you can assign your post to a tier and get a gift-card or coupon of commensurate value to your post.
  %div.row
    %div.span3
      /new post button
      =link_to "Post  a Post", new_post_path, :class => "btn", :role => "button"
    %div.span9
      /search bar
      =render :partial => "search/search_form"

  %div.row
    %div.span6
      %h1 Posts 
      /Post feed
      =render :partial => 'feed',:locals => {:feed_items => @posts}
    %div.span6
      %h1 Groups
      /Group feed
      =render :partial => 'feed', :locals => {:feed_items => @groups}



  /group feed and create group button
  ////render group
  ////join button
  ////post button
  /item-post feed
  ////render post
  ///////tags
  ////buy button
  
  
  
////PLAYING WITH JQUERY
/ %h2 Recipe for Rum Cake:
/ %h2
/   Add
/   %span#dynamic-text-wrapper
/     %span#old-text all the ingredients
/     %span#new-text all the ingredients
/   %br/
/   to the cake batter.
/ %br/
/ 
////PLAYING WITH MODAL WINDOWDS
/ %div.row
/   #postModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
/     / %p.validateTips All form fields are required.
/     .modal-header
/       %h1 Post Something
/     .model-body
/       =form_for @post, :remote => true do |f|
/         =f.text_field :email, :class => "input-block-level", :placeholder => "Email"
/         =f.text_field :title, :class => "input-block-level", :placeholder => "Post Title"
/         =f.text_area :description, :rows => "5", :class => "input-block-level", :placeholder => "Description"
/         .model-footer
/           = submit_tag "Create new post", :value=>"Post", :id => "submit-post"
/ 
/ %div.row
/   %a.btn{"data-toggle" => "modal", :href => "#postModal", :role => "button"} Launch demo modal
