.row
  .col-lg-12
    %h1 Jobs
.row
  .col-lg-4
    %a.btn.btn-primary{ :href => "mailto:brianjoseff123@gmail.com?subject=Super Seller position", :role => "button"} Apply
    %h3 Super Seller - Hanover, NH
    %p P&S aims to change the way people think about exchange. It should be as easy as clicking a button for people to get rid of unused stuff and save money
    %p To this end, we are seeking an entrepreneurial, self-motivated student to manage consignment sales for all of Dartmouth College.
    %p You must be able to take ownership of this position and make of it what you will. This entails crafting a go-to-market strategy, creating a stable pipeline of stuff from students to your inventory, posting the goods, and completing the sales. 
    %h4 Compensation:
    %p Stipend + commission
    
  .col-lg-4
    %a.btn.btn-primary{ :href => "mailto:brianjoseff123@gmail.com?subject=Full-stack Engineering position", :role => "button"} Apply
    %h3 Full-stack engineer (Founding Team)
    %p Back-end, front-end, from Ruby on Rails to Javascript frameworks and code testing. Looking for a software developer with an interest in building compelling web apps. Mobile experience would be huge.
    %p You will define your role. Whether this means taking an active role in helping pilot the company as it grows or just coding your brains out building the best product ever, as long as you are good at what you do and we get along, it's all good. This is a founding team position so I'm looking for fit more than anything.
  .col-lg-4
    %a.btn.btn-primary{ :href => "mailto:brianjoseff123@gmail.com?subject=Eng Intern", :role => "button"} Apply
    %h3 Software Engineering Intern
    %p Looking to get involved with a start-up? Hone your coding skills and get some real-world development experience while helping P&S transform community-based commerce and dethrone Craigslist.





