%div.row
  %div.span3
    /put region search bar here
    %ul.nav
      -@group_categories.each do |gcat|
        =link_to gcat.name, group_category_path(gcat), :class => "span2 chevron_right"
  %div.span9
    %ul.breadcrumb
      %li
        =link_to "All", groups_path
      %li
        =link_to @group_category, group_category_path(@group_category)
    =render @groups, :as => "group_feed_item"
/ %table
/   %tr
/     %th Name
/     %th Description
/     %th Group category
/     %th
/     %th
/     %th
/     %th # of members
/ 
/   - @groups.each do |group|
/     %tr
/       %td= group.name
/       %td= group.description
/       %td= group.group_category
/       %td= link_to 'Show', group
/       %td= link_to 'Edit', edit_group_path(group)
/       %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
/       %td #{group.members.count} 
%br

= link_to 'New Group', new_group_path



/Categories side bar
/Content area
//tab nav bar: alphabetical, newest, most popular
//groups: image, name, description, join button