%div.row-fluid
  %span
    %div.pull-left{:id => "follow_button_"+tag.id.to_s}
      =render 'shared/simple_follow', :tag => tag
    %div#whole_tag
      %span#span-tag
      =link_to tag.name, tag_url(tag), :class => "tag"
    / #{pluralize(tag.posts.count, 'post')}

%br/
    