= link_to 'New Tag', new_tag_path

%div.row
  %div.span3
    %h3 Search
    =search_form_for @q, :url => { :controller => "tags", :action => "search"}, :html => { :class => "form-inline"} do |f|
      =f.text_field :name_cont, :class => "", :placeholder => "search for tags"
      =f.submit 'Search', :class => "btn btn-primary"
    /put tag search bar here
    / =form_tag(groups_path, method: :get) do
    /   .input-group
    /     =text_field_tag :zipcode, nil,:class => "form-control", :placeholder =>"Zipcode"
    /     %span.input-group-btn
    /       =button_tag "Go", name: nil, :class => "btn-default btn", :type => "button"
      

    /TAG CATEGORIES?
    / %ul.nav
    /   -@g_categories.each do |gcat|
    /     =link_to gcat.name, group_category_path(gcat), :class => "span2 chevron_right"
  %div.span9
    %div.row
      %div.span3
        %h3 Popular Tags
      %div.span4
        /=link_to "Create a group", new_group_path, :class => "btn group-button pull-right", :role => "button", :id => "front_page_new_group"
    / %div.span9
    /   %ul.nav-tabs
    /     %li 
    /Sort by: closest, newest, oldest, most popular
    / %ul.breadcrumb
    /   %li
    /     =link_to "All", groups_path
    /   %li
    /     =link_to @group_category, group_category_path(@group_category)
    =render @popular_tags
    /=render @tags
%br

/



/Categories side bar
/Content area
//tab nav bar: alphabetical, newest, most popular
//groups: image, name, description, join button