%p Your post ( #{@post.title} ) has sold

%p please arrange pick-up with the buyer, #{@buyer.name}:
%a{ :href => "mailto:#{@seller.email}"} #{@seller.email}

%p Thanks for using our "QuickSell" feature. Earn coupons from Morano Gelato for selling stuff online
