/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require token-input-facebook
 *= require_tree .
 */
.hide-this{
	display: none;
}
div.for-sale-marker{
	width: 20px;
	height: 20px;
	background: #FF91AF;
	float:left;
	margin-right: 5px;
}
div.wanted-marker{
	width: 20px;
	height: 20px;
	background: #f1c40f;
	float:left;
	margin-right: 5px;
}
div.free-marker{
	width: 20px;
	height: 20px;
	background: #00e5d6;
	float:left;
	margin-right: 5px;
}
#toggle{
	width: 100px;
  height: 100px;
  background: #696969;
}

.the_post_id{
	display:none;
}
.notice{
	
}
/*#changingtext span{
	height: 53px;
}
#changingtext2 span{
	height: 53px;
}*/
/************************************************************/
/*********** TAGS *******************************************/
/************************************************************/

.tag{
/*	ffeaf0*/
	background-color:#b9ffef;
	
	/*c0ffb9*/
/*	#f98275*/
/*	#e74c3c*/
/*	background-color:#CDECFA;*/
	
	
/*	ffb1c7*/
	border-bottom: solid 1px #0acba0;
	border-right: solid 1px #0acba0;
/*	border-bottom: solid 1px #67a461;
	border-right: solid 1px #67a461;*/
/*	border-bottom: solid 1px #69B0CF;
	border-right: solid 1px #69B0CF;*/
	padding: 3px;
	color: #32522f;
/*	color:#c0392b;*/
	font-size: 80%;
}
.tag-row{
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 7px;
}

a:visited.tag{
	color:#32522f;
}
a:hover.tag{
	color:#fff;
}

/************************************************************/
/*********** Buttons ****************************************/
/************************************************************/


input.btn-primary {
	font-size:150%;
	height: 50px;
}
a.btn-primary{
	font-size:150%;
	padding-top:12px;
	padding-bottom:12px;
	
	box-sizing: content-box;
}
a:visited.btn.btn-primary{
	color: #fff;
}
a:visited.btn.btn-danger, a:visited.btn.btn-deactivate, a:visited.btn.btn-success{
	color: #fff;
}
a:visited.btn{
	color: #666;
}

a.btn-deactivate {
/*  background-color: hsl(35, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef8b00", endColorstr="#ef8b00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ef8b00), to(#ef8b00));
  background-image: -moz-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -ms-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef8b00), color-stop(100%, #ef8b00));
  background-image: -webkit-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -o-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: linear-gradient(#ef8b00, #ef8b00);
  border-color: #ef8b00 #ef8b00 hsl(35, 100%, 47%);
	color: #fff;*/
	background-color: hsl(40, 100%, 48%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4a300", endColorstr="#f4a300");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4a300), to(#f4a300));
	  background-image: -moz-linear-gradient(top, #f4a300, #f4a300);
	  background-image: -ms-linear-gradient(top, #f4a300, #f4a300);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4a300), color-stop(100%, #f4a300));
	  background-image: -webkit-linear-gradient(top, #f4a300, #f4a300);
	  background-image: -o-linear-gradient(top, #f4a300, #f4a300);
	  background-image: linear-gradient(#f4a300, #f4a300);
	  border-color: #f4a300 #f4a300 hsl(40, 100%, 48%);
	  color: #fff !important;
			font-weight: bold;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	  -webkit-font-smoothing: antialiased;
}
/*a.btn-deactivate{
	background-color:#e67e22;
	border-color:#e67e22;
	color: #fff;
	background-image: -webkit-linear-gradient(top, #e09b5d, #e67e22);
}*/

.switch.active {
	background-color: hsl(176, 100%, 45%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e5d6", endColorstr="#00e5d6");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#00e5d6), to(#00e5d6));
	  background-image: -moz-linear-gradient(top, #00e5d6, #00e5d6);
	  background-image: -ms-linear-gradient(top, #00e5d6, #00e5d6);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e5d6), color-stop(100%, #00e5d6));
	  background-image: -webkit-linear-gradient(top, #00e5d6, #00e5d6);
	  background-image: -o-linear-gradient(top, #00e5d6, #00e5d6);
	  background-image: linear-gradient(#00e5d6, #00e5d6);
	  border-color: #00e5d6 #00e5d6 hsl(176, 100%, 45%);
	  color: #fff !important;
		font-weight: bold;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	  -webkit-font-smoothing: antialiased;
}



/************************************************************/
/*********** SEARCH  ****************************************/
/************************************************************/

input[type="text"].search-bar-field{
	height:40px;
	font-size:150%;
	width: 400px;
}

.search-bar{
	padding-top: 10px;
} 

.btn-search {
  background-color: hsl(333, 100%, 78%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffeaf3", endColorstr="#ff91af");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffeaf3), to(#ff91af));
  background-image: -moz-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -ms-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeaf3), color-stop(100%, #ff91af));
  background-image: -webkit-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -o-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: linear-gradient(#ffeaf3, #ff91af);
  border-color: #ff8ec1 #ff91af hsl(333, 100%, 73.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
}


/************************************************************/
/*********** POST FEED **************************************/
/************************************************************/

.image{
	margin-bottom: 5px;
}
.feed-title{
	font-size: 125%;
	font-weight: bold;	
}
span.slim-feed-title a{
/*	color: #2980b9;*/
	color: #005b9b;
	font-weight: bold;
	font-size: 110%;
	margin-right: 15px;
}
span.slim-feed-title a:visited{
	/*color: #7f8c8d;*/
}
span.feed-title a{
	color: #005b9b;
	font-weight: bold;
}

span.feed-title a:visited{
	/*color: #7f8c8d;*/
	font-weight: bold;
}

.feed-item{
	padding-bottom: 5px;
	/*border-bottom: solid 1px #696969;*/
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid #c9c9c9;
}
.feed-timestamp{
	font-size: 80%;
	margin-left: 10px;
}
.description-row{
	margin-bottom: 3px;
}


.slim-feed-item{
	border-bottom: 1px solid #c9c9c9;
/*	padding-bottom: 7px;*/
	margin-bottom: 5px;
}

.slim-feed-title-row{
	margin-bottom: 5px;
}
.slim-feed-timestamp{
	font-size: 80%;
	margin-left: 10px;
}
i{
	margin-right: 10px;
}


#postModal{
	padding:10px;
	width: 400px;
	margin: -250px 0 0 -200px;
}
#modalCredit{
	width: 300px;
}
.thumbnail {
display: block;
padding: 4px;
line-height: 20px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
/************************************************************/
/*********** POST FORM **************************************/
/************************************************************/
.form-title{
	margin-left: 100px;
}
input.credit-number{
	width:300px;
}
.credit-expiry{
	width:70px;
}
.credit-cvv{
	width:40px;
}
.row{
	margin-left:-10px;
}
.group-row > #modalCredit{
	float: right;
}
#tier_explanation_wrapper{
	width:170px;
	position: absolute;
	left:50px;
	top:200px;

}
#tier_explanation{
	/*margin: 2px;*/
	border: 2px solid #696969;
	padding:5px;
	width:140px;
	float:left;
/*	position: absolute;
	left:50px;
	top:200px;
	width: 160px;*/
}
#tier_arrow{
	background-image: url(/assets/tier_exp_arrow.png);	
	width:15px;
	height:80px;
	float:right;
}
.fieldset {
  border: 1px solid #ccc;
  padding: 10px;
	width: 300px;
	margin-left: 100px;
}
legend {
	margin-bottom: 10px;
}
div.controls.credit{
	margin-left: 0px;
}

#new-post-submit{
	margin-top: 10px;
	margin-left: 100px;
}

.table-actions{
	width: 200px;
}

#front_page_new_group{
	margin-top: 16px;
	color: #696969;
}
