/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap.min
 *= require token-input-facebook
 *= require s3_direct_upload_progress_bars
 *= require_tree .
 */




/*
1. General Styles
2. Messages
3. Front Page Banner
4. Right column on front page
5. Tags
6. Buttons
7. Search
8. Post Feed
9. Banner Group
10. About Page
11. Badges
*/

/* 
*= require skeuocard.reset
*= require skeuocard
*/


/************************************************************/
/* 1. General Styles*****************************************/
/************************************************************/
.main{
	padding-top:30px;
}
.bold{
	font-weight: bold !important;
}
.linkify{
	text-decoration: underline;
}
.linkify:hover{
	color: #1487ff;
	background-color: transparent;
}
a:hover#stripe_button{
	background-color: transparent;
}

a:hover.no-black{
	background-color: transparent !important;
}

span.points{
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}


.sign-up input.sign-up-field{
	width: 200px !important;
}



.new_followship{
	margin-right: 5px;
}
.center { float: none !important; margin-left: auto!important; margin-right: auto!important; }
.tooltip{
	width: 150px;
}

#show_post_buy{
	display:inline-block;
	width: 90px;
}

.slim-button-row{
 display: inline-block;
 float:right;
margin-bottom: 5px;
}

.buy{
	margin-right: 5px;
}


footer{
	display: block;
	height: 100px;
}
.non-tier-price{
	margin: 0px auto;
}

.hide-this{
	display: none;
}

.table-actions{
	width: 200px;
}

#lg-icon{
	height: 200px;
	
}



/************************************************************/
/* 2.  Messages *********************************************/
/************************************************************/

.modal-message-form{
	padding: 10px;
	margin-top: 60px;
	min-width: 100px;
	margin-left: auto;
	margin-right: auto;
}



/************************************************************/
/*  3. Front Page Banner ************************************/
/************************************************************/


h1#changingtext{
	height: 40px;
}
h1#changingtext2{
	height: 40px;
}

#banner_image{
	opacity: .8;
}
.hero-text{
	position: absolute;
	margin-top: 50px;
	margin-left: 40px;
	font-weight: 300;
	letter-spacing: -1px;
	z-index: 9999;
}

#banner_icons{
padding-top: 10px;

}


#trust, #house, #dollar{
	display:block;
	text-align:center;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}

img#trust_icon{
	height: 50px !important;
	height: auto;
	margin-bottom: 5px;
}
img#furniture_icon{
	height: 50px !important;
	height: auto;
	margin-bottom: 5px;
}
#furniture{
	display:block;
	text-align:center;
	float:left;
	width: 270px;
	padding-left: 10px;
	padding-right: 10px;
}
img#books_icon{
	height: 50px !important;
	height: auto;
	margin-bottom: 5px;
}
#books{
	display:block;
	text-align:center;
	float:left;
	width: 270px;
	padding-left: 10px;
	padding-right: 10px;
}


img#trust_icon, img#house_icon, img#dollar_icon{
	height: 50px !important;
	height: auto;
	margin-bottom: 5px;
}



dl{
	font-size: 110%;
}





/************************************************************/
/* 4. Right column on front page ****************************/
/************************************************************/
#front_page_new_group{
	margin-top: 16px;
	color: #696969;
}
#front_page_create_group_link{
	margin-top: -5px;
	text-decoration: underline;
	color: #0000ff !important;
}
.advertising{
	margin-top: 10px;
	display: block;
	border: 1px solid #696969;
	background-image: url('morano.png');
	background-size: 300px 175px;
	width: 300px;
	height: 175px;
/*	padding-left:75px;
	padding-top:75px;
	text-align: justify;*/
}

.random-group-feed-item{
	margin-bottom: 10px;
}

.the_post_id{
	display:none;
}

/*#changingtext span{
	height: 53px;
}
#changingtext2 span{
	height: 53px;
}*/


/************************************************************/
/*******  5. TAGS *******************************************/
/************************************************************/
span#span-tag{
	background-image: url('span-tag.png');
	display:inline-block !important;
	/*padding-top: 15px;
	margin-right: -5px;*/
	width: 16px !important;
	height:25px !important;
	float:left;
}
#whole_tag{
	display:inline-block !important;
}
.tag{
/*	ffeaf0*/
	background-color:#b9ffef;
	width: auto;
	height: auto;
	display:inline-block;
	/*margin-bottom:5px;*/
	/*c0ffb9*/
/*	#f98275*/
/*	#e74c3c*/
/*	background-color:#CDECFA;*/
/*	ffb1c7*/
	border-bottom: solid 1px #0acba0;
	border-right: solid 1px #0acba0;
/*	border-bottom: solid 1px #67a461;
	border-right: solid 1px #67a461;*/
/*	border-bottom: solid 1px #69B0CF;
	border-right: solid 1px #69B0CF;*/
	padding: 3px;
	color: #32522f;
/*	color:#c0392b;*/
	font-size: 100%;
}
.tag-row{
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 7px;
}

a:visited.tag{
	color:#32522f;
}
a:hover.tag{
	color:#fff;
}

/************************************************************/
/******* 6. Buttons *****************************************/
/************************************************************/

.anti-button{
	background:none!important;
	font-size: 12px;
	border:none;
	padding:0!important;
	/*border is optional*/
	text-decoration:underline;
}

input.btn-primary {
	font-size:150%;
	height: 50px;
}
a.btn-primary{
	font-size:150%;
	padding-top:12px;
	padding-bottom:12px;
	box-sizing: content-box;
}
a:visited.btn.btn-primary{
	color: #fff;
}
a:visited.btn.btn-danger, a:visited.btn.btn-deactivate, a:visited.btn.btn-success{
	color: #fff;
}
a:visited.btn{
	color: #666;
}

a.btn-deactivate {
/*  background-color: hsl(35, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef8b00", endColorstr="#ef8b00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ef8b00), to(#ef8b00));
  background-image: -moz-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -ms-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef8b00), color-stop(100%, #ef8b00));
  background-image: -webkit-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: -o-linear-gradient(top, #ef8b00, #ef8b00);
  background-image: linear-gradient(#ef8b00, #ef8b00);
  border-color: #ef8b00 #ef8b00 hsl(35, 100%, 47%);
	color: #fff;*/
	background-color: hsl(40, 100%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4a300", endColorstr="#f4a300");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4a300), to(#f4a300));
  background-image: -moz-linear-gradient(top, #f4a300, #f4a300);
  background-image: -ms-linear-gradient(top, #f4a300, #f4a300);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4a300), color-stop(100%, #f4a300));
  background-image: -webkit-linear-gradient(top, #f4a300, #f4a300);
  background-image: -o-linear-gradient(top, #f4a300, #f4a300);
  background-image: linear-gradient(#f4a300, #f4a300);
  border-color: #f4a300 #f4a300 hsl(40, 100%, 48%);
  color: #fff !important;
	font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
/*a.btn-deactivate{
	background-color:#e67e22;
	border-color:#e67e22;
	color: #fff;
	background-image: -webkit-linear-gradient(top, #e09b5d, #e67e22);
}*/

button#category2.switch.active{
	background-color: hsl(47, 100%, 39%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efbb00", endColorstr="#c69b00");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#efbb00), to(#c69b00));
	background-image: -moz-linear-gradient(top, #efbb00, #c69b00);
	background-image: -ms-linear-gradient(top, #efbb00, #c69b00);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efbb00), color-stop(100%, #c69b00));
	background-image: -webkit-linear-gradient(top, #efbb00, #c69b00);
	background-image: -o-linear-gradient(top, #efbb00, #c69b00);
	background-image: linear-gradient(#efbb00, #c69b00);
	border-color: #c69b00 #c69b00 hsl(47, 100%, 37%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
	-webkit-font-smoothing: antialiased;
}
button#category1.switch.active {
  background-color: hsl(333, 100%, 85%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbcda", endColorstr="#ff91af");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbcda), to(#ff91af));
  background-image: -moz-linear-gradient(top, #ffbcda, #ff91af);
  background-image: -ms-linear-gradient(top, #ffbcda, #ff91af);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbcda), color-stop(100%, #ff91af));
  background-image: -webkit-linear-gradient(top, #ffbcda, #ff91af);
  background-image: -o-linear-gradient(top, #ffbcda, #ff91af);
  background-image: linear-gradient(#ffbcda, #ff91af);
  border-color: #ffb2d4 #ff91af hsl(333, 100%, 84.5%);
  color: #fff !important;
	font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.03);
  -webkit-font-smoothing: antialiased;
}

button#category3.switch.active{
	background-color: hsl(176, 100%, 45%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e5d6", endColorstr="#00e5d6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00e5d6), to(#00e5d6));
  background-image: -moz-linear-gradient(top, #00e5d6, #00e5d6);
  background-image: -ms-linear-gradient(top, #00e5d6, #00e5d6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e5d6), color-stop(100%, #00e5d6));
  background-image: -webkit-linear-gradient(top, #00e5d6, #00e5d6);
  background-image: -o-linear-gradient(top, #00e5d6, #00e5d6);
  background-image: linear-gradient(#00e5d6, #00e5d6);
  border-color: #00e5d6 #00e5d6 hsl(176, 100%, 45%);
  color: #fff !important;
	font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}




/************************************************************/
/***** 7.  SEARCH  ******************************************/
/************************************************************/


input[type="text"].search-bar-field{
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	width: 400px;
	padding-top: 5px;
}

.search-bar{
	padding-top: 10px;
	/*height:;*/
}
.search-row{
	background-color: #7f8c8d;
	display:block;
	min-height: 65px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*padding-left: 10px;*/
}
#btn_search{
	background-color: #00e5d6 !important;
	
  
/*  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);*/
  -webkit-font-smoothing: antialiased;
  color: #fff !important;
	border: none !important;
	font-weight: bold;
	width: 100px;
	/*display: inline-block;*/
	/*below adds up to 50px*/
	/*padding: 12px 12px;*/
	/*line-height: 26px;*/
	/*---------------------*/
	margin-bottom: 0;
	font-size: 150%;
	
/*	text-align: center;
	vertical-align: middle;
	cursor: pointer;	*/
}
#btn_search:hover{
	background-color: #06d5c9 !important;
}

.btn-search {
  background-color: hsl(333, 100%, 78%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffeaf3", endColorstr="#ff91af");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffeaf3), to(#ff91af));
  background-image: -moz-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -ms-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeaf3), color-stop(100%, #ff91af));
  background-image: -webkit-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: -o-linear-gradient(top, #ffeaf3, #ff91af);
  background-image: linear-gradient(#ffeaf3, #ff91af);
  border-color: #ff8ec1 #ff91af hsl(333, 100%, 73.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
}
.category-post-cluster{
	margin-bottom:10px;
	padding-right: 10px;
}
.shop-by-category{
	float:right;
	margin-right: -20px;
}
#shop_by_category_button{
	/*width: 80px;*/
	display:block;
	min-height: 45px;
}
.dropdown{
	list-style-type:none;
}

/************************************************************/
/****** 8.  POST FEED ***************************************/
/************************************************************/
.completed{
	opacity:0.6;
  filter:alpha(opacity=60);
  pointer-events: none;
  cursor: default;
}


.special-vertical{
	font-weight: bold;
	font-size: 125%;
	text-decoration: underline;
	float:left;
	margin-left: 15px;
}

.loading-indicator{
	margin-top: 15px;
}
.for-sale{
	background:#8e8e8e;
	padding:1px;
	padding-right:5px;
	margin-right: 5px;
	padding-left:5px;
	color: #fff;
	font-weight: bold;
}
.paid-service{
	background:#21ca53;
	padding:1px;
	margin-right: 5px;
	padding-left:5px;
	color: #fff;
	font-weight: bold;
}

#all_link{
	background:#d9d9d9;
	padding: 2px;
	text-decoration: underline;
}
#for_sale_link{
	background:#FF91AF;
	padding: 2px;
	text-decoration: underline;
}
div.for-sale-marker{
	width: 20px;
	height: 20px;
	background: #FF91AF;
	float:left;
	margin-right: 5px;
}
span.pink{
	color:#FF91AF;
}
span.yellow{
	color:#f1c40f;
}
span.blue{
	color:#00e5d6;
}
#wanted_link{
	background:#f1c40f;
	padding: 2px;
	text-decoration: underline;
}
div.wanted-marker{
	width: 20px;
	height: 20px;
	background: #f1c40f;
	float:left;
	margin-right: 5px;
}
#borrow_rent_link{
	background:#00e5d6;
	padding: 2px;
	text-decoration: underline;
}
div.free-marker{
	width: 20px;
	height: 20px;
	background: #00e5d6;
	float:left;
	margin-right: 5px;
}


.posts-nav{
	margin-top: 15px;
}

#slim_post_customer_buy_button{
	display-inline:block;
	float:right;
	margin-bottom: 0px;

}
.image{
	margin-bottom: 5px;
}
.feed-title{
	font-size: 125%;
	font-weight: bold;
}
span.slim-feed-title a{
/*	color: #2980b9;*/
	color: #005b9b;
	font-weight: bold;
	font-size: 110%;
	margin-right: 15px;
}
span.slim-feed-title a:visited{
	/*color: #7f8c8d;*/
}
span.feed-title a{
	color: #005b9b;
	font-weight: bold;
}

span.feed-title a:visited{
	/*color: #7f8c8d;*/
	font-weight: bold;
}

.feed-item{
	padding-bottom: 5px;
	/*border-bottom: solid 1px #696969;*/
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid #c9c9c9;
}
.feed-timestamp{
	font-size: 80%;
	margin-left: 10px;
}
.description-row{
	margin-bottom: 3px;
}


.slim-feed-item{
	border-bottom: 1px solid #c9c9c9;
/*	padding-bottom: 7px;*/
	margin-bottom: 5px;
}

.slim-feed-title-row{
	margin-bottom: 5px;
}
.slim-feed-timestamp{
	font-size: 80%;
	margin-left: 10px;
}
i{
	margin-right: 10px;
}


#postModal{
	padding:10px;
	width: 400px;
	margin: -250px 0 0 -200px;
}
#modalCredit{
	width: 300px;
}
.thumbnail {
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}




/************************************************************/
/****** 9.  BANNER GROUPS ***********************************/
/************************************************************/

/*.banner-group-image{
	height: 100px;
	width: auto;
}*/
.banner{
		text-align: center;
}

.banner-group-body{
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 2px solid #7f8c8d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
}
.banner-group-body img, .banner-group-body a{
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
.banner-group-footer{
	height: 26px;
	/*border-top: 1px solid #7f8c8d;*/
	padding-top: 2px;
}

.banner-group-footer a, .banner-group-footerinput, .banner-group-footer form{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

/************************************************************/
/*** 10.  About Page ****************************************/
/************************************************************/

.checkmark{
	margin-right: 5px;
}

/************************************************************/
/****** 11.  BADGES *****************************************/
/************************************************************/

.badge{
	background-color: #164f23;
	color: #fff;
}












