// Place all the styles related to the Dresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dress-prices{
	font-size: 110%;
}

.dress-rental{
	display: inline-block;
	margin-right: 10px;
}

.dress-retail{
	display: inline-block;
}