/************************************************************/
/*Sign In signout Links above nav bar with icon**************/
/************************************************************/
.user-nav{
	margin-right: 10px;
	margin-top: 15px;
	font-size: 110%;
}
ul#nav_pill_section{
	padding:0;
	margin-top:10px;
}
.nav-user-link{
	text-decoration: underline;
	color: #0000ff !important;
}
.nav-user-signout{
	text-decoration: underline;
}

i.nav-icon{
	margin:0;
	margin-top: 3px;
	color: #7f8c8d;
}


/************************************************************/
/*Actual Nav bar ********************************************/
/************************************************************/

img#dartmouth_logo{
	height: 38px !important;
	height: auto;
	margin-top: 10px;
	margin-right: 20px;
}
#nav{
	margin-bottom: 70px;
}
.nav-row{
	margin-bottom: 70px;
}
.navbar-default {
    background-color: #fff;
}
.people-and-stuff-marquee{
	margin-top: -10px;

}
#header_logo{
	float:left;
	display: block;
	background-image: url('circlelogo1.png');
	background-size: 38px 38px;

/*	width: 38px;
	height: 38px;
  margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;*/

	width: 28px;
	height: 28px;
  margin-top: 19px;
	margin-right: 5px;
	margin-left: 5px;
	
}
.at-dartmouth{
	margin-top: 28px;
	margin-right: 15px;
	margin-left: 5px;
	color: #1C6126;
}


ul.nav{
	/*padding: 10px 0 0;*/
}
.nav-area{
	border-bottom: 6px solid #7f8c8d; /*asbestos grey*/
}

.sa_nav_border{
	border-bottom: 6px solid #1C6126 !important;
}

.nav{
	/*margin-bottom: 10px;*/
}





a:hover > .nav-icon{
	color: #fff;
}

.nav-pills > .nav-icon{
	color: #7f8c8d;
}
.nav-pills > li.active > a{
	
				background-color: #7f8c8d; /*asbestos grey*/
/*			background-color: #00e0ac;*/
	/*	background-color: #ffc0b9;*/
}
.nav-pills > li.active > a:hover{
	
				background-color: #7f8c8d; /*asbestos grey*/
/*			background-color: #00e0ac;*/
	/*	background-color: #ffc0b9;*/
}
.navbar-nav > li > a:hover{
		
		/*background-color: #ff91af;*/
		background-color: #7f8c8d !important;
		color: #fff !important;
/*	background-color: #ffc0b9;*/
}
#nav-pill-pink{
/*	background-color: #00e5d6 !important;*/
	
}
#nav-pill-pink > a{
/*	color: #fff !important;*/
}
 #nav-pill-pink a:hover{
		
		/*background-color: #ff91af;*/
		background-color: #ff91af !important;
/*	background-color: #ffc0b9;*/
}
 #nav-pill-yellow a:hover{
		
		/*background-color: #ff91af;*/
		background-color: #f1c40f;
/*	background-color: #ffc0b9;*/
}

