// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.underline{
	text-decoration:underline;
	margin-right:15px;
	font-size: 14px;
	font-weight:bold;
}
.cash-box{
	margin-right:20px;
}