

/**********************************************************/
/*General Stuff and Errors and Notices*********************/
/**********************************************************/

body {
  background-color: #fff;
  color: #333;
	/*  font-family: verdana, arial, helvetica, sans-serif;*/
	font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}
/*h1{
	color: #008cf0;
}*/
a.header-title{
	color: #333;
}
a:visited.header-title{
	color:#333;
}
a:hover.header-title{
	color:#fff;
}
p, ol, ul, td {
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  font-size: 14px;
  line-height: 18px;
}
input, textarea{
	font-family: "Open Sans", sans-serif;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

/**********************************************************/
/*TOP OF THE PAGE NOTICES**********************************/
/**********************************************************/

#notice {
  color: green;
}
#wrong_password{
	color: red;
	font-size: 20px;
	font-weight: bold;
}
.notice{
/*	color: green;
	font-size: 15px;
	background: rgba(97, 196, 104, .2);
	background-opacity: 0.1;
	padding: 10px;*/

	border-color: #2ecc71;
  color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1.25em;
}
/**********************************************************/
/**********************************************************/

.control-group.error input{
	border-color: #b94a48;
}
.field_with_errors input, .field_with_errors textarea{
	border-color: #b94a48;
}
.field_with_errors label{
	color: #b94a48;
}
.success-label label {
	color: #468847;
}
/*.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}*/
