
.email_settings{
  margin-bottom: 10px;
}

.table td.post-management-buttons{
  width:250px;
}
.post-management-buttons a {
  margin-right: 5px;
}
.post-management-buttons a:nth-child(1) {
  color: steelblue;
}
.post-management-buttons a:nth-child(2) {
  color: red;
}
.post-management-buttons a:nth-child(3) {
  color: #FF91AF;;
}


.facebook-signin{
  position: absolute;
  top: 38px;
  left: 250px;
}

.user-auth-offset{
  margin-left: 21%;
}

.user-submit {
  text-align: center;
}

.super-seller-checkbox {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.25);
  text-align: center;
  border-radius: 0.75em;
}
.super-seller-checkbox input[type="checkbox"]{
  font-size: 1.25em;
  float: left;
}

.super-seller-checkbox label {
  margin-left: 10px;
  float: left;
  font-size: 1.25em;
}

.super-seller-checkbox label span {
  color: #0b9102;
  font-size: 1.5em;
}

h1 span {
  color:#FF91AF;
  font-size: 0.75em;
}

h1 span#super-seller,
h2 span#super-seller {
  color: #0b9102;
  font-size: 1em;
  font-weight: bold;
}

h1 span:nth-of-type(2) {
  color: #0b9102;
  font-size: 0.75em;
  font-weight: bold;
}


.table-actions {
  width: 300px;
}


.user-profile-header {
  margin: 0 5px 20px 5px;
}

.user-page {
  height: 100%;
}

.group {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.group.btn {
  margin: 5px;
}
.group-header{
  border-bottom: 6px solid #7f8c8d;
  margin-bottom: 15px;
}
.group-sort{
  margin-top: 20px;
  margin-bottom: 20px;
}
.group-feed-item{
  border-bottom: 1px solid #7f8c8d;
  margin-bottom: 5px;
}

a.feed-title{
  color: #005b9b;
}
.group-categories ul{
  list-style-type: none;
}

.posts-container,
.super-seller-posts-container {
  margin-bottom: 30px;
}

.super-seller-posts-container span {
  color: #0b9102;
  font-weight: bold;
}

.padding {
  padding: 10px;
}