%p#notice= notice

%p
  %b User:
  = @image.user_id

=link_to image_tag(@image.assets.empty?  ? '/assets/small.png': @image.assets.first.image.url(:small), :alt => 'image'), image_url(@image)
= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
