%div#banner_icons.row-fluid
  %div.span4
    #trust
      =image_tag 'trust.png', id: "trust_icon"
      %h4 Deal with people you know
      %dl Buy/Sell things with people in your communities for safer and easier transactions
  %div.span4
    #house
      =image_tag 'house.png', id: "house_icon"
      %h4 Support good businesses
      %dl Buy new stuff from businesses that share your values
      / : whether they pay fair wages, source right, manufacture in the USA, or care about the environment
  %div.span4    
    #dollar
      =image_tag 'dollar.png', id: "dollar_icon"
      %h4 Save money
      %dl Why buy all new hockey gear for 6 year old Johnny when you can get it through P&S for half the price