.container.banner
  .row
    .col-lg-3
      =link_to textbooks_url, id: "no-black" do
        =image_tag 'books.png', id: "books_icon"
        %h4.bold ALL TEXTBOOKS GUARANTEED TO SELL
    .col-lg-3
      =image_tag 'furniture.png', id: "furniture_icon"
      %h4.bold FIND RAD DORM FURNITURE  
    .col-lg-3
      =image_tag 'trust.png', id: "trust_icon"
      %h4.bold REQUEST THINGS FROM PEOPLE YOU KNOW AND TRUST
    .col-lg-3
      =image_tag 'dollar.png', id: "dollar_icon"
      %h4.bold BUY STUFF HERE AND SAVE MONEY
/ %div#banner_icons.row
/   %div.col-lg-4
/     #books
/       =image_tag 'books.png', id: "books_icon"
/       %h4 Buy and Sell Textbooks
/       %dl Save $$$ when you buy from your peers. Earn more when you sell to your peers instead of those textbook vultures that post up on E. Whee and Main
/   %div.col-lg-4
/     #furniture
/       =image_tag 'furniture.png', id: "furniture_icon"
/       %h4 Dorm Furniture
/       %dl Outfit your dorm with fridges, futons, beds, votive candles, bearskin throwrugs, etc...
/       / : whether they pay fair wages, source right, manufacture in the USA, or care about the environment
/   %div.col-lg-4    
/     #trust
/       =image_tag 'trust.png', id: "trust_icon"
/       %h4 Request Things
/       %dl Looking to acquire something in particular? Need a service rendered? Post a Wanted ad
/ %div#banner_icons.row-fluid
/   %div.span4
/     #trust
/       =image_tag 'trust.png', id: "trust_icon"
/       %h4 Deal with people you know
/       %dl Buy/Sell things with people in your communities for safer and easier transactions
/   %div.span4
/     #house
/       =image_tag 'house.png', id: "house_icon"
/       %h4 Support good businesses
/       %dl Buy new stuff from businesses that share your values
/       / : whether they pay fair wages, source right, manufacture in the USA, or care about the environment
/   %div.span4    
/     #dollar
/       =image_tag 'dollar.png', id: "dollar_icon"
/       %h4 Save money
/       %dl Why buy all new hockey gear for 6 year old Johnny when you can get it through P&S for half the price

